* {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.header {
    background-color: black;
    font-size: xx-small;
    color:chartreuse;
    padding: 2rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 4rem;
}

.flexbox_left {
    margin: 2rem;
    background-color: black;
    text-align: left;
}

.promo {
    margin-top: 30rem;
}

.flexbox_right {
    margin: 2rem;
    margin-left: 10rem;
    background-color: black;
    padding: 5rem;
}