* {
    margin: 0;
    padding: 0;
   
}

.header {
    background-color: brown;
    font-size: 2px;
    color:chartreuse;
    padding: 2rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 4rem;
}

.flexbox_left {
    margin: 1rem;
    background-color: darkgoldenrod;
    padding: 1rem;
    text-align: left;
}

.blankspace {
    margin: 4rem;
    background-color: darkgoldenrod;
}

.promo {
    margin-top: 30rem;
}

.flexbox_right {
    margin: 1rem;
    margin-left: 10rem;
    background-color: chocolate;
    padding: 5rem;
}

.form_button{
    width: 1mm;
    height: 1mm;
    color: rgb(236, 103, 8);
}

.form_email_input{
    width: 55rem;
    flex-wrap: wrap;
}


h1 {
    background-color: rgb(233, 71, 13);
    color: red;
}
.dog_img {
    height: 10rem;
    width: 15rem;
}

.footer {
    padding-top: 300px;
    color: rgba(255, 138, 83, 0.966);
}

.background__image {
    background-size: contain;
    background: url(https://tse2.mm.bing.net/th?id=OIP.XuLyjoSzaxGZT_DM78vz4QHaI9&pid=Api&P=0&w=300&h=300) repeat;
    width: 100rem;
    height: 100rem;
}
